#main_page_body {
    background-color: #fff;
    background-image: none;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: 30%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:last-child {
    margin-right: 0;
}
